body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 300px;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  justify-content: space-between;
}

.flavor {
  width: 50%;
  text-align: left;
}

.price {
  width: 50%;
  text-align: right;
}
